- form = "admin--dashboard--form"

.row.mt-5
  .col
    - if @currency_form.errors.any?
      = render 'shared/errors', resource: @currency_form
.row{data: { controller: form }}
  .col-md-6
    .card
      .card-body
        = form_with model: @currency_form,
                    url: admin_currency_forced_path,
                    scope: 'currency',
                    local: true,
                    html: { novalidate: true },
                    data: { target: "#{form}.form", action: "submit->#{form}#submitForm" } do |f|

          = f.hidden_field :currency_id, value: @currency&.id
          .form-group
            = f.label :amount, 'Forced Amount'
            .col-sm-10
              = f.text_field :amount, required: true,
                                      pattern: currency_amount_regexp,
                                      value: @currency.forced_data['amount'],
                                      class: 'form-control'
              .error-message.text-danger
          .form-group
            = f.label :end_time, 'Forced date'
            .col-sm-10
              = f.text_field :dead_line, required: true,
                                         data: { behaviour: 'flatpickr', min_date: 'today' },
                                         value: @currency.forced_data['dead_line'],
                                         class: 'form-control'
              .error-message.text-danger
          .form-group
            .col-sm-10
              = f.submit 'Submit', class: 'btn btn-primary', data: { disable_with: false }